<!--views/index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Starter</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="postForm">
      <label for="songname">Song Name:</label>
      <input type="text" id="songname" name="songname">

      <label for="artistName">Artist Name:</label>
      <input type="text" id="artistName" name="artistName">

      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre">
    </div>


    <h1>Hello!</h1>
    <p>If you can see this text, your server is running properly!</p>
  </body>
</html>